<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Dobrodošli v klubskem upravitelju!
  </h1>

  <h2 [style.visibility]="(dynamicFlag | async) ? 'visible' : 'hidden'">konfiguracija spremenjena</h2>
</div>

<div class="example-button-row">
  <button mat-button [disabled]="(dynamicFlag | async)" (click)="preusmeriUporabniki()">Uporabniki</button>
  <button mat-button [disabled]="(dynamicFlag | async)" (click)="preusmeriIgrisca()">Igrisca</button>
  <button mat-button [disabled]="(dynamicFlag | async)" (click)="preusmeriIgralci()">Igralci</button>
  <button mat-button [disabled]="(dynamicFlag | async)" (click)="preusmeriPostavke()">Postavke</button>
  <button mat-button [disabled]="(dynamicFlag | async)" (click)="preusmeriRekviziti()">Rekviziti</button>
</div>


<div class="igrisca-seznam">
  <select class="selecting" [(ngModel)]="selectedOption">
    <option *ngFor="let igrisce of imenaArray"> {{igrisce}} </option>
  </select>
  <button (click)="preusmeriKoledar()">Pojdi na igrisce</button>

</div>



<router-outlet></router-outlet>
